<nav class="navbar navbar-default navbar-fixed-top" data-scroll-header>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-default" type="button" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="hidden-lg" src="{{ "/img/logo_20x20.png" | prepend: site.baseurl }}"><div class="pull-left" href="{{ site.baseurl }}"><img class="navbar-brand-img-inverse visible-lg" src="{{ "/img/logo_inverse_40x40.png" | prepend: site.baseurl }}"></div></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-default">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-scroll href="#section-about">About</a></li>
        <li><a data-scroll href="#section-projects">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a data-scroll href="#section-contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>